{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progra-Consolas</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
</head>
<body>
    
  <nav class="navbar navbar-expand-lg"  id="navbar">
    <div class="container-fluid">
        <div class="col-4" id="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/img1.png' %}" alt="" width="60" height="60"></a>
        </div>
        <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'PlayStation' %}">PlayStation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Nintendo' %}">Nintendo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Microsoft' %}">Microsoft</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Todos' %}">Todos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'API_Figuras' %}">Figuras de Accion</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'juegos' %}">Videojuegos</a>
              </li>
               
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Iniciar_Sesion' %}">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p> <h3 style="text-align: center;">¡ Nueva Xbox Serie X !</h3></p>
        <img src="{% static 'images/XboxSerieX.png' %}" class="d-block" style="max-width: 534px; height: auto; display: inline-block; vertical-align: top;" alt="slide-1" >
      </div>
      <div class="carousel-item">
        <p> <h3 style="text-align: center;">¡ Nueva PlayStation 5 !</h3></p>
        <img src="{% static 'images/consolaPS5.png' %}" class="d-block" style="max-width: 303px; height: auto; display: inline-block; vertical-align: top;" alt="slide-2">
      </div>
      <div class="carousel-item">
        <p><h3 style="text-align: center;">¡ Nueva Nintendo Swicht Oled !</h3></p>
        <img src="{% static 'images/NintendoSwichtConsola.png' %}" class="d-block" style="max-width: 400px; height: auto;" alt="slide-3">
      </div>
      <div class="carousel-item">
        <p><h3 style="text-align: center;">¡ Nuestras Figuras de Accion !</h3></p>
        <img src="{% static 'images/MARIO_JPG.png' %}" class="d-block" style="max-width: 240px; height: auto;" alt="slide-4">
      </div>
      <div class="carousel-item">
        <p><h3 style="text-align: center;">¡ Videojuegos !</h3></p>
        <img src="{% static 'images/Videojuego.png' %}" class="d-block" style="max-width: 608px; height: auto;" alt="slide-5">
      </div>
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

  <header class="header">
        <div class="header-content container mt-4" >
          <div class="header-txt">
              <span>Bienvenidos a nuestra tienda !</span>
              <br>
              <br>
              <h1>Nuestras Figuras de Accion Amiibo</h1>       
          </div>           
        </div>
  </header>
  <div class=" container mt-5">
    <h2>Listado de Personajes</h2>
    <div  class="row" id="personajes"></div>
  </div>
  <script>
      $(document).ready(function(){
      const URL = "https://amiiboapi.com/api/amiibo/?type=Figure";
      var id_personajes = $("#personajes");
      
    


      function addPersonaje(personaje){
        id_personajes.append(
          `
          <div class = "col-md-3" style="margin-bottom: 50px;">
            <div class = "card" style = "width: 18rem;display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <img src = " ${personaje.image}" class = "card-img-top"  height: auto;" alt = "" style="width: 60%; height: 200px; display: block; ">
              <div class="card-body">
                      <h5 class = "card-title">${personaje.character}</h5>
                      <p class = "card-text">Videojuego :${personaje.gameSeries}</p>
                  </div>
              </div>
          </div>
          `


        )
      }
      function obtenerPersonajes(){
        $.ajax({
          url: URL,
          method: "GET",
          success: function (data){
            console.log(data.amiibo);
            var personajes = data.amiibo;
            personajes.forEach(addPersonaje);
          }
        })
      }
      obtenerPersonajes();
   });
   
  </script>
  </div>
</body>
</html>

<style>

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

#logo{
    text-align: center;
    color: black;
}

#navbar{
    background-color: rgb(2, 129, 112);
}

.carousel-item img{
    display: block;
    margin: auto;
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.container1{
text-align: left;
}
.container2{
    text-align: center;
}
.container3{
 text-align: right;   
}
.align-center {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .carousel-item{
    background-color: #000000a9 ;
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
  .container-product{
    background-color: black;
  }
  .imagenes{
    background-color: rgba(0, 0, 0, 0.541);
  }
  .align-middle {
    display: flex;
    align-items: center;
  }
  .container-imagen{
    background-color: rgba(0, 0, 0, 0.226);
  }
  .nav-item{
    font-size: 1.5rem;
  }

</style>
