@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

#logo{
    text-align: center;
    color: black;
}

#navbar{
    background-color: rgb(2, 129, 112);
}

.carousel-item img{
    display: block;
    margin: auto;
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.container1{
text-align: left;
}
.container2{
    text-align: center;
}
.container3{
 text-align: right;   
}
.align-center {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .carousel-item{
    background-color: #000000a9 ;
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
  .container-product{
    background-color: black;
  }
  .imagenes{
    background-color: rgba(0, 0, 0, 0.541);
  }
  .align-middle {
    display: flex;
    align-items: center;
  }
  .container-imagen{
    background-color: rgba(0, 0, 0, 0.226);
  }
  .nav-item{
    font-size: 1.5rem;
  }




  